* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  background-color: rgb(12, 209, 199);
  height: 20vh;
  color: white;
  padding: 1rem;
}

main {
  min-height: 60vh;
  padding: 1rem;
}

nav ul li {
  /* list-style: none; */
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
